@if(isVisible()){

<div ksBackDrop [class]="position() + ' d-flex f-justify-content-center f-align-items-center'"
  (click)="onOverlayClick($event)" (keydown)="onKeyDown($event)">
  <div [@fadeInOut] class="alert-container" [class]="theme()" (mouseenter)="pauseTimer()" (mouseleave)="resumeTimer()">
    @if (icon() ) {
    <div class="alert-icon">
      <div [ksIcon]="icon()?.name!" [iconOptions]="icon()?.options!" [class]="'icon-'+type()" class="text-white"></div>
    </div>
    }
    @if(title()){
    <h2 class="alert-title">{{ title() }}</h2>
    }
    @if (text()) {
    <div class="alert-content">{{ text() }}</div>
    }
    @if(autoClose()){
    <ks-progress-bar [color]="type()" [durationMs]="castAutoClose()" [paused]="isPaused()!" />
    }

    <div class="alert-actions">
      @if(showCancelButton()){
      <button ksButton appearance="danger" [variant]="'ghost'" (click)="onCancel(); $event.stopPropagation()">
        {{ cancelButtonText() }}
      </button>
      }

      <button ksButton [appearance]="buttonAppearance()" (click)="onConfirm(); $event.stopPropagation()">
        {{ confirmButtonText() }}
      </button>
    </div>
  </div>
</div>
}
