@use "../abstracts/variables" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  height: -webkit-fill-available;
}

body {
  font-family: $default-font-family;
  font-size: $default-font-size;
  font-weight: $font-weight-regular;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --transition-duration: 0.5s;
  --transition-easing: cubic-bezier(0.25, 0.8, 0.25, 1);
  --sidebar-width: 15rem;
}
