
@if(open()){
  @if(config().hasBackdrop){
    <div [styleClases]="config().backdropClasses"  ksBackDrop [(show)]="open" [zIndex]="1" [closeByClick]="config().closeOnBackdropClick" [closeByEscape]="false" (BackdropClick)="backdropClicked($event)"></div>
  }

<dialog
  [@fadeInOut]
  class="dialog-container"
  [class]="config().panelClass"
  (click)="$event.stopPropagation()"
  (keydown)="$event.stopPropagation()"
  [style.width]="config().width"
  [style.height]="config().height"
  [class.fullscreen]="config().fullscreen"
  [attr.aria-labelledby]="id()"
  [attr.aria-modal]="true"
  [class.minimized]="isMinimized()"
  ksResizable
  (resizeEnd)="onResizeEnd($event)"
  [enabled]="config().resizable"
  #dialog
>
  <div class="dialog-controls">
    @if(config().draggable.isDraggable && !isMinimized() && !isMaximized()){
    <button   [ksDraggable]="config().draggable" [elementRef]="dialogRef()!" ksIcon="arrows-move" [iconOptions]="{provider: 'bi'}" style="position: relative;"
    [class.draggable]="config().draggable.isDraggable" [style.height.px]="20" (onDragEnd)="setTransform($event)"></button>
    }
    @if(config().isMinimizable){
      <button (click)="minimize(!isMinimized())" [ksIcon]="isMinimized()?  'window-dock' : 'dash'" [iconOptions]="{provider: 'bi'}"></button>
    }
    @if(config().isMaximizable){
      <button (click)="maximize(!isMaximized())" [ksIcon]="isMaximized()? 'fullscreen-exit' : 'fullscreen'" [iconOptions]="{provider: 'bi'}"></button>
    }
    <button (click)="close()" ksIcon="x" [iconOptions]="{provider: 'bi'}"></button>
  </div>

  @if(config().isMinimizable && isMinimized()){
    <div class="minimized-title">
      <span>{{ config().title || config().textWhenMinimized }}</span>
    </div>
  }@else{
    @if(freeStyleDialogTemplate() || config().freeStyleDialogTemplate){
    <ng-container
      [ngTemplateOutlet]="config().freeStyleDialogTemplate || freeStyleDialogTemplate()"
    ></ng-container>
    }@else {
      <!--  -->
      @if(!this.opendProgrammatically()){
       <ng-content select="ks-dialog-header"></ng-content>
        @if( componentContentType() != null){
          <ng-container [ngComponentOutlet]="contentComponent()"></ng-container>
        }@if(config().contentTemplate){
          <ng-container [ngTemplateOutlet]="config().contentTemplate"></ng-container>
        }
        @else {
          <ng-content select="ks-dialog-content"></ng-content>
        }
       <ng-content select="ks-dialog-actions"></ng-content>
      } @else {
        <!--  -->
        @if(config().title){
          <ks-dialog-header>
            <span ksDialogTitle> {{ config().title }} </span>
          </ks-dialog-header>
        }
        <!--  -->
        <ks-dialog-content>
          @if(this.contentComponent() != null){
          <ng-container
            [ngComponentOutlet]="contentComponent() || null"
          ></ng-container>
          }
          @else if(this.config().contentTemplate){
          <ng-container
            [ngTemplateOutlet]="this.config().contentTemplate"
          ></ng-container>
          }
        </ks-dialog-content>
        @if(config().useActionButton){
          <ks-dialog-actions>
            <button ksButton size="sm" appearance="custom" (click)="close()" class="close-button">
              {{ config().closeButtonText}}
            </button>

            <button ksButton size="sm" appearance="primary" (click)="close(result())">
              {{ config().actionButtonText}}
            </button>
          </ks-dialog-actions>
        }
      }
    }
  }
</dialog>
}
