@use "../tokens/spacing" as *;

ks-menu {
  ks-menu-header,
  ks-menu-section,
  ks-menu-footer {
    @extend .px-5;
  }
  ks-menu-header:first-of-type + ks-menu-section {
    @extend .mt-0;
  }

  ks-menu-section {
    @extend .mt-5;
  }
  ks-menu-item {
    button,
    a {
      @extend .py-3;
    }
  }

  /* صفّر الـinset أولاً عشان مفيش قيم قديمة تسرّب */
  &.top,
  &.top-start,
  &.top-end,
  &.bottom,
  &.bottom-start,
  &.bottom-end,
  &.left,
  &.left-start,
  &.left-end,
  &.right,
  &.right-start,
  &.right-end {
    inset: auto;
  }

  /* اتجاه المحور الأساسي */
  &.left,
  &.left-start,
  &.left-end {
    right: calc(100% + 5px);
  }
  &.right,
  &.right-start,
  &.right-end {
    left: calc(100% + 5px);
  }
  &.top,
  &.top-start,
  &.top-end {
    bottom: calc(100% + 5px);
  }
  &.bottom,
  &.bottom-start,
  &.bottom-end {
    top: calc(100% + 5px);
  }

  /* محاذاة المحور العرضي */
  &.top-start,
  &.bottom-start {
    left: 0;
    right: auto;
  }
  &.top-end,
  &.bottom-end {
    right: 0;
    left: auto;
  }

  &.left-start,
  &.right-start {
    top: 0;
    bottom: auto;
  }
  &.left-end,
  &.right-end {
    bottom: 0;
    top: auto;
  }

  /* نقاط أصل الأنيميشن صح */
  &.top {
    transform-origin: bottom center;
  }
  &.top-start {
    transform-origin: bottom left;
  }
  &.top-end {
    transform-origin: bottom right;
  }
  &.bottom {
    transform-origin: top center;
  }
  &.bottom-start {
    transform-origin: top left;
  }
  &.bottom-end {
    transform-origin: top right;
  }
  &.left {
    transform-origin: right center;
  }
  &.left-start {
    transform-origin: right top;
  }
  &.left-end {
    transform-origin: right bottom;
  }
  &.right {
    transform-origin: left center;
  }
  &.right-start {
    transform-origin: left top;
  }
  &.right-end {
    transform-origin: left bottom;
  }

  /* (اختياري) توسيط الحالات غير المبدوءة/المنتهية من غير ما نكسر scale في الأنيميشن */
  &.top,
  &.bottom {
    left: 50%;
    translate: -50% 0;
  } /* بدل transform: translateX() */
  &.left,
  &.right {
    top: 50%;
    translate: 0 -50%;
  }
  &.enter {
    animation: ks-menu-enter 0.2s ease-in-out;
  }
  &.leave {
    animation: ks-menu-leave 0.2s ease-in-out;
  }
  button [ksIcon],
  button [class*="material-icons"] {
    font-size: large;
  }
}

@keyframes ks-menu-enter {
  from {
    opacity: 0;
    transform: scale(0.25);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes ks-menu-leave {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.25);
  }
}
.menu-enter {
  animation: ks-menu-enter 0.2s ease-in-out;
}
.menu-leave {
  animation: ks-menu-leave 0.2s ease-in-out;
}
.arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  background: inherit; /* يرث لون الخلفية من الـ popover */
  transform: rotate(45deg);
}
