@use "../utilities/spacing" as *;

ks-menu,
ks-menu-c {
  ks-menu-header,
  ks-menu-section,
  ks-menu-footer {
    @extend .px-5;
  }
  ks-menu-header:first-of-type + ks-menu-section {
    @extend .mt-0;
  }

  ks-menu-section {
    @extend .mt-5;
  }
  ks-menu-item {
    button,
    a {
      @extend .py-3;
    }
  }

  &.left,
  &.left-start,
  &.left-end {
    right: calc(100% + 5px);
  }
  &.right,
  &.right-start,
  &.right-end {
    left: calc(100% + 5px);
  }
  &.top,
  &.top-start,
  &.top-end {
    bottom: calc(100% + 5px);
  }
  &.bottom,
  &.bottom-start,
  &.bottom-end {
    top: calc(100% + 5px);
  }
  &.top-start,
  &.bottom-start {
    left: 0;
  }
  &.top-start,
  &.top-end {
    transform-origin: bottom left;
  }
  &.bottom-start,
  &.bottom-end {
    transform-origin: top left;
  }
  &.right-end,
  &.left-end {
    bottom: 0;
  }
  &.left-start {
    transform-origin: right top;
  }
  &.right-start {
    transform-origin: left top;
  }
  &.left {
    transform-origin: right center;
  }
  &.right {
    transform-origin: left center;
  }
  &.top {
    transform-origin: bottom center;
  }
  &.bottom {
    transform-origin: top center;
  }
  &.right-end {
    transform-origin: left bottom;
  }
  &.left-end {
    transform-origin: right bottom;
  }
  &.enter {
    animation: ks-menu-enter 0.2s ease-in-out;
  }
  &.leave {
    animation: ks-menu-leave 0.2s ease-in-out;
  }
}

@keyframes ks-menu-enter {
  from {
    opacity: 0;
    transform: scale(0.25);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes ks-menu-leave {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.25);
  }
}

.arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  background: inherit; /* يرث لون الخلفية من الـ popover */
  transform: rotate(45deg);
}
